# Copier ce fichier en .env.local et adapter les valeurs

# URL du backend (local)
NEXT_PUBLIC_API_URL=http://localhost:3000/api/v1

# URL du frontend (utilisée pour les redirections PWA)
NEXTAUTH_URL=http://localhost:3002
